.img-jmbo {
  background-repeat: round;
  background-image: url(/img/bahiacartagena.jpeg);
  background-size: 100%;
  height: 200px;
}

.textjmbo {
  /*background: $red;*/
  color: #f4f71e;
  text-align: center;
  margin-top: 20px;
}

.carousel-item {
  height: 150px;
  padding-bottom: 10px;
  padding-top: 10px;
}

html body nav {
  padding-bottom: 10px;
}

.container {
  padding-bottom: 10px;
}

.col-md-4 {
  padding-bottom: 10px;
}

#tarjetas {
  padding-top: 10px;
}

.btn {
  background: #29657C;
  width: 100%;
  border-radius: 0px;
}

.card-body {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background: #02c733;
}
